services:
  chronoframe:
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:3000"
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=${DATABASE_URL}
    image: ghcr.io/hoshinosuzumi/chronoframe:v0.14.1
    labels:  
      createdBy: "Apps"
networks:  
  1panel-network:  
    external: true
