services:
  chronoframe:
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:3000"
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=${DATABASE_URL}
      # Admin user configuration
      - CFRAME_ADMIN_EMAIL=${CFRAME_ADMIN_EMAIL}
      - CFRAME_ADMIN_NAME=${CFRAME_ADMIN_NAME}
      - CFRAME_ADMIN_PASSWORD=${CFRAME_ADMIN_PASSWORD}
      # Site configuration
      - NUXT_PUBLIC_APP_TITLE=${NUXT_PUBLIC_APP_TITLE}
      - NUXT_PUBLIC_APP_SLOGAN=${NUXT_PUBLIC_APP_SLOGAN}
      - NUXT_PUBLIC_APP_AUTHOR=${NUXT_PUBLIC_APP_AUTHOR}
      - NUXT_PUBLIC_APP_AVATAR_URL=${NUXT_PUBLIC_APP_AVATAR_URL}
      - NUXT_PUBLIC_COLOR_MODE_PREFERENCE=${NUXT_PUBLIC_COLOR_MODE_PREFERENCE}
      # Map Provider
      - NUXT_PUBLIC_MAP_PROVIDER=${NUXT_PUBLIC_MAP_PROVIDER}
      - NUXT_PUBLIC_MAP_MAPLIBRE_STYLE=${NUXT_PUBLIC_MAP_MAPLIBRE_STYLE}
      - NUXT_PUBLIC_MAP_MAPBOX_STYLE=${NUXT_PUBLIC_MAP_MAPBOX_STYLE}
      - NUXT_PUBLIC_MAPBOX_ACCESS_TOKEN=${NUXT_PUBLIC_MAPBOX_ACCESS_TOKEN}
      - NUXT_MAPBOX_ACCESS_TOKEN=${NUXT_MAPBOX_ACCESS_TOKEN}
      - NUXT_NOMINATIM_BASE_URL=${NUXT_NOMINATIM_BASE_URL}
      # Storage provider
      - NUXT_STORAGE_PROVIDER=${NUXT_STORAGE_PROVIDER}
      # S3 storage provider
      - NUXT_PROVIDER_S3_ENDPOINT=${NUXT_PROVIDER_S3_ENDPOINT}
      - NUXT_PROVIDER_S3_BUCKET=${NUXT_PROVIDER_S3_BUCKET}
      - NUXT_PROVIDER_S3_REGION=${NUXT_PROVIDER_S3_REGION}
      - NUXT_PROVIDER_S3_ACCESS_KEY_ID=${NUXT_PROVIDER_S3_ACCESS_KEY_ID}
      - NUXT_PROVIDER_S3_SECRET_ACCESS_KEY=${NUXT_PROVIDER_S3_SECRET_ACCESS_KEY}
      - NUXT_PROVIDER_S3_PREFIX=${NUXT_PROVIDER_S3_PREFIX}
      - NUXT_PROVIDER_S3_CDN_URL=${NUXT_PROVIDER_S3_CDN_URL}
      - NUXT_PROVIDER_S3_FORCE_PATH_STYLE=${NUXT_PROVIDER_S3_FORCE_PATH_STYLE}
      # Local storage provider
      - NUXT_PROVIDER_LOCAL_PATH=${NUXT_PROVIDER_LOCAL_PATH}
      - NUXT_PROVIDER_LOCAL_BASE_URL=${NUXT_PROVIDER_LOCAL_BASE_URL}
      # OpenList storage provider
      - NUXT_PROVIDER_OPENLIST_BASE_URL=${NUXT_PROVIDER_OPENLIST_BASE_URL}
      - NUXT_PROVIDER_OPENLIST_ROOT_PATH=${NUXT_PROVIDER_OPENLIST_ROOT_PATH}
      - NUXT_PROVIDER_OPENLIST_TOKEN=${NUXT_PROVIDER_OPENLIST_TOKEN}
      - NUXT_PROVIDER_OPENLIST_ENDPOINT_UPLOAD=${NUXT_PROVIDER_OPENLIST_ENDPOINT_UPLOAD}
      - NUXT_PROVIDER_OPENLIST_ENDPOINT_DOWNLOAD=${NUXT_PROVIDER_OPENLIST_ENDPOINT_DOWNLOAD}
      - NUXT_PROVIDER_OPENLIST_ENDPOINT_LIST=${NUXT_PROVIDER_OPENLIST_ENDPOINT_LIST}
      - NUXT_PROVIDER_OPENLIST_ENDPOINT_DELETE=${NUXT_PROVIDER_OPENLIST_ENDPOINT_DELETE}
      - NUXT_PROVIDER_OPENLIST_ENDPOINT_META=${NUXT_PROVIDER_OPENLIST_ENDPOINT_META}
      - NUXT_PROVIDER_OPENLIST_PATH_FIELD=${NUXT_PROVIDER_OPENLIST_PATH_FIELD}
      - NUXT_PROVIDER_OPENLIST_CDN_URL=${NUXT_PROVIDER_OPENLIST_CDN_URL}
      # Session password
      - NUXT_SESSION_PASSWORD=${NUXT_SESSION_PASSWORD}
      # GitHub OAuth
      - NUXT_PUBLIC_OAUTH_GITHUB_ENABLED=${NUXT_PUBLIC_OAUTH_GITHUB_ENABLED}
      - NUXT_OAUTH_GITHUB_CLIENT_ID=${NUXT_OAUTH_GITHUB_CLIENT_ID}
      - NUXT_OAUTH_GITHUB_CLIENT_SECRET=${NUXT_OAUTH_GITHUB_CLIENT_SECRET}
      # INSECURE Options
      - NUXT_ALLOW_INSECURE_COOKIE=${NUXT_ALLOW_INSECURE_COOKIE}
      # Analytics
      - NUXT_PUBLIC_GTAG_ID=${NUXT_PUBLIC_GTAG_ID}
      - NUXT_PUBLIC_ANALYTICS_MATOMO_ENABLED=${NUXT_PUBLIC_ANALYTICS_MATOMO_ENABLED}
      - NUXT_PUBLIC_ANALYTICS_MATOMO_URL=${NUXT_PUBLIC_ANALYTICS_MATOMO_URL}
      - NUXT_PUBLIC_ANALYTICS_MATOMO_SITE_ID=${NUXT_PUBLIC_ANALYTICS_MATOMO_SITE_ID}
      # Upload Configuration
      - NUXT_UPLOAD_MIME_WHITELIST_ENABLED=${NUXT_UPLOAD_MIME_WHITELIST_ENABLED}
      - NUXT_UPLOAD_MIME_WHITELIST=${NUXT_UPLOAD_MIME_WHITELIST}
      - NUXT_UPLOAD_DUPLICATE_CHECK_ENABLED=${NUXT_UPLOAD_DUPLICATE_CHECK_ENABLED}
      - NUXT_UPLOAD_DUPLICATE_CHECK_MODE=${NUXT_UPLOAD_DUPLICATE_CHECK_MODE}
    image: ghcr.io/hoshinosuzumi/chronoframe:v0.14.1
    labels:  
      createdBy: "Apps"
networks:  
  1panel-network:  
    external: true
